.card {
	border-radius: 10px;
	border: 1px solid #e55137;
}
.card-img {
	padding: 10px;
}

.img {
	background: #e55137;
	border-radius: 15px;
}

.img img {
	width: 220px;
	margin: 0 auto;
	display: block;
}
