.break-count {
	background-color: #ddd;
	width: 100%;
	height: 70px;
}

.break-count > p {
	background-color: #e55137;
	padding: 10px;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	transition: color 0.4s;
}
.break-count > p:hover {
	color: #000;
}
.break-font {
	font-size: 22px;
	font-weight: 700;
}
